html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background-color: #212121;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    color: #00bfff;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.sidebar {
    background-color: #282828;
    width: 250px;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#messages {
    overflow-y: auto;
    flex-grow: 1;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

#input-field {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #363636;
    color: #fff;
    font-size: 16px;
    outline: none;
    z-index: 1;
    height: 3ch;
    min-height: 3ch;
    resize: none;
}

#send-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

#send-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    #hamburger-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
        height: 100%;
    }

    #messages {
        margin-top: 30px;
        padding-left: 15px;
    }
}

@media only screen and (min-width: 720px) {
    #hamburger-menu {
        display: none;
    }

    #messages {
        padding: 20px;
    }
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form {
    flex-grow: 1;
    padding: 20px;
}

.tab {
    cursor: pointer;
}

.active {
    color: #4caf50;
}

.link-preview {
    min-width: 25rem;
    max-height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111111;
    line-height: 1.2;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.link-preview:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link-preview h3 {
    margin: 0;
    margin-top: 10px;
    font-size: 1em;
}

.link-preview p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; /* Reset the margin to remove any extra spacing */
    font-size: 0.8em;
}

.link-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}

.linkEmbed {
    width: 25rem;
    height: 19rem;
    display: block;
    color: #fff;
}

.linkEmbed h3:hover {
    text-decoration: underline;
}
.linkEmbed {
    text-decoration: none;
}