html {
    overflow: hidden;
    margin: 0;
}

body {
    touch-action: none;
    margin: 0;
    padding: 0;
    width: var(--vvw);
    height: var(--vvh);
    overflow: hidden;
}

body.light .sidebar {
    background-color: #282828;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

body.phone #messages {
    padding-top: 30px;
}
body.phone #messages p[data-server] {
    padding-left: 0.5rem;
}
#messages p[data-server]:not(body.phone) {
    padding-left: 20px;
}

.messageText {
    margin-left: 1ch;
    margin-right: 1ch;
    display: block;
    white-space: pre-line;
    overflow-wrap: anywhere;
    width: 100%;
    max-width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.shake-animation {
    animation: shake 0.5s;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}
