body {
    color: #fff;
    background-color: #090c10;
    font-family: 'NotoSans', 'NotoSansJP', Arial, sans-serif;
    font-size: 16px;
}
body.light {
    background-color: #212121;
}

a {
    color: #00bfff;
}
